* {
    font-size: xx-small;
    font-family: Helvetica, sans-serif;
    font-style: 'italic';
}

td,
th,
tr,
table {
    border-top: 1px solid black;
    border-collapse: collapse;
    border-top-width: thick;
    border-right-width: thin;
    border-bottom-width: thick;
    border-left-width: thin;
}

td.producto,
th.producto {
    width: 75px;
    max-width: 75px;
    text-align: center;
}

td.cantidad  {
    width: 40px;
    max-width: 40px;
    word-break: break-all;
    text-align: right;
}

th.cantidad {
    width: 40px;
    max-width: 40px;
    word-break: break-all;
    text-align: center;
}

td.precio {
    width: 40px;
    max-width: 40px;
    word-break: break-all;
    text-align: right;
}

th.precio {
    width: 40px;
    max-width: 40px;
    word-break: break-all;
    text-align: center;
}

th.total {
    width: 40px;
    max-width: 40px;
    word-break: break-all;
    text-align: center;
}

td.total {
    width: 40px;
    max-width: 40px;
    word-break: break-all;
    text-align: right;
}

.centrado {
    text-align: center;
    align-content: center;
}

.ticket {
    width: 155px;
    max-width: 155px;
}

img {
    max-width: inherit;
    width: inherit;
}
